body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0; /* Açık gri arka plan */
  color: #333; /* Koyu gri yazı rengi */
}

header {
  background-color: #4f4f4f; /* Orta koyulukta gri */
  padding: 10px 0;
  text-align: center;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: #f5f5f5; /* Açık gri */
  text-decoration: none;
  font-weight: 700;
}

.navbar a:hover {
  text-decoration: underline;
  color: #dcdcdc; /* Daha açık gri */
}

main {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #f5f5f5; /* Çok açık gri */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-section {
  margin-bottom: 30px;
}

h2 {
  color: #4f4f4f; /* Orta koyulukta gri */
  border-bottom: 2px solid #4f4f4f; /* Aynı gri tonunda alt çizgi */
  display: inline-block;
  padding-bottom: 5px;
}

.report-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.report-card {
  display: block;
  text-align: center;
  padding: 20px;
  background: #dcdcdc; /* Orta açık gri */
  border-radius: 8px;
  text-decoration: none;
  color: #333; /* Koyu gri yazı */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.report-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.team-member {
  flex: 1;
  min-width: 200px;
  background: #dcdcdc; /* Orta açık gri */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 15px 0;
  background-color: #4f4f4f; /* Orta koyulukta gri */
  color: #f5f5f5; /* Açık gri yazı */
}
.report-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.team-member {
  text-align: center;
}

.team-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 1.2rem;
  color: #4f4f4f;
}
